.bg-img-login {
  background-image: url("/src/assets/img/loginBackground.jpg");
  background-position: center;
  background-size: cover;
}

.bg-img-register {
  background-image: url("/src/assets/img/registerBackground.jpg");
  background-position: center;
  background-size: cover;
}