#wrapper {
    padding-left: 250px;
}

#wrapper.extend {
    padding-left: 0;
}

@media (max-width: 768px) {
    #wrapper {
        padding-left: 0;
    }
    
    #page-content-wrapper {
        position: absolute;
        margin-right: -250px;
    }
}

.sidebar-wrapper {
    z-index: 1050;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: white;
}

#wrapper:not(.extend) .sidebar-wrapper {
    width: 250px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.show {  opacity: 0.5; }

@layer components {
    .nav-item {
        @apply  
        rounded-r-full
        p-2
        flex
        items-center
        gap-3
        my-5
        mr-8
        cursor-pointer;

        &:active,&:focus {
            @apply shadow bg-palette-10;
        }

         &:hover {
            @apply shadow;
            background-color: #FEF3C7;
            transform: scale(1.05);
            transition: all ease-out 500ms;
        }
    }
}

 
          