/* Material - Button */
@use "/node_modules/@material/button/styles";


/* Material - TextField */
@use "/node_modules/@material/floating-label/mdc-floating-label";
@use "/node_modules/@material/line-ripple/mdc-line-ripple";
@use "/node_modules/@material/notched-outline/mdc-notched-outline";
@use "/node_modules/@material/textfield/index" as textfield;

@include textfield.core-styles;

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*,*:focus,*:hover{
    outline:none !important;
}

/* Configuration */
:root {

  --color-primary: #F48C06;
  --color-secondary: #03071E;

  --font-family: 'Lobster', cursive;

  --size-bezel: 0.5rem;
}


/* Fonts */
.font-lobster {
  font-family: var(--font-family);
}

/* Colors */
.bg-palette {
  &-10 {
    background-color: #FFBA08;
  }
  &-20 {
    background-color: #FAA307;
  }
  &-30 {
    background-color: #F48C06;
  }
  &-40 {
    background-color: #E85D04;
  }
  &-50 {
    background-color: #DC2F02;
  }
  &-60 {
    background-color: #D00000;
  }
  &-70 {
    background-color: #9D0208;
  }
  &-80 {
    background-color: #6A040F;
  }
  &-90 {
    background-color: #370617;
  }
  &-100 {
    background-color: #03071E;
  }
}

.text-palette {
  &-10 {
    color: #FFBA08;
  }
  &-20 {
    color: #FAA307;
  }
  &-30 {
    color: #F48C06;
  }
  &-40 {
    color: #E85D04;
  }
  &-50 {
    color: #DC2F02;
  }
  &-60 {
    color: #D00000;
  }
  &-70 {
    color: #9D0208;
  }
  &-80 {
    color: #6A040F;
  }
  &-90 {
    color: #370617;
  }
  &-100 {
    color: #03071E;
  }
}

/* AvicolApp Buttons */
.btn-primary {
  --mdc-theme-primary: var(--color-primary);
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.btn-secondary {
  --mdc-theme-primary: var(--color-secondary);
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

/* AvicolApp Inputs */
.txf-primary {
  --mdc-theme-primary: var(--color-primary);
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.txf-secondary {
  --mdc-theme-primary: var(--color-secondary);
  --mdc-theme-on-primary: var(--mdc-theme-text-primary-on-dark);
}